/*doc
---
category: category02

title: div
---
divタグ説明文

```
<div>
</div>
```
*/

/*doc
---
category: category02

title: section
---
sectionタグ説明文

```
<section>
</section>
```
*/

/*doc
---
category: category02

title: span
---
spanタグ説明文

```
<span>
</span>
```
*/